
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.errors {
  &-item {
    list-style: none;
    height: 50px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 4px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 2px solid #dc3545;
  }
}
.btn-submit {
  height: 40px;
  width: 80px;
  border: none;
  color: #fff;
  background-color: #ff5960;
  float: right;
  cursor: pointer;
}
.nav-bar{
    top: 30px;
    right: 30px;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ff5a61;
    a{
      font-size: 1rem;
      color: #ffffff;
      margin: 0 20px;
    }
    .button{
      margin-left: 30px;
      background: #ffffff;
      color: #8A2669;
      padding: 10px 20px;
      border-radius: 50px;
    }
  }